extends ./layout.pug
include ./mixins.pug

block title
  title Photo-Gallery

block body
  - var isLoggedIn = true

    if routeOf == 'pictures'
      h1#header.headerClass(style={color: '#513894'}) #{headline}

      p#name #{username}
      form#picture(action='/gallery/new' method='post' name='picture')
        fieldset.fieldset
          legend.legend Adding a picture to the gallery
            div
            label.label
              span Author:
              input#title(type= 'text' name='author' value=author)
            label.label
              span Title:
              input#title(type= 'text' name='title' value=title)
            label.label
              span Link:
              input#link(type= 'text' name='link' value=link)
            label.label
              span Description:
              input#name(type='textarea' name='description' value=description)
            input.submit(type='submit' value='Submit')
