extends ./layout.pug
include ./mixins.pug

block title
  title Photo-Gallery

block body
  - var isLoggedIn = true

    if routeOf == 'pictures'
      h1#header.headerClass(style={color: '#513894'}) #{headline}

      h3 #{listType}
      p#name #{userName}
      div#gallery
        ul
          each val, index in pictures
            //- -var urlofpic = #{val.url}
            li #{index} + ': title:' + #{val.title} + 'url: ' + #{val.url}
            h3 First Pic
            img(class='picture', src= val.url )


          //- each val in collection
          //-   +pictureList(val)
          //- else
          //-   p There are no values

