extends ./layout.pug
include ./mixins.pug

block title
  title Photo-Gallery

block body
  - var isLoggedIn = true

    if routeOf == 'pictures'
      h1#header.headerClass(style={color: '#513894'}) #{headline}

      p#name #{username}
      form#picture(action='/picture/new' method='post' name='picture')
        fieldset.fieldset
          legend.legend Picture
            div
            label.label
              span Title:
              input#title(type= 'text' name='title' value=title)
            label.label
              span Url:
              input#url(type= 'text' name='author' value=author)
            label.label
              span Name:
              input#name(type='textarea' name='body' value=body)
            input.submit(type='submit' value='Submit')
    //- else
      //- h1#header.headerClass(style={color: '#513894'}) #{headline}

      //- p#name #{username}
      //- form#product(action='/products/'+id+'/edit' method='post' name='product')
      //-   fieldset.fieldset
      //-     legend.legend Product #{id}
      //-       div
      //-       label.label
      //-         span Edit Product name:
      //-         input#name(type= 'text' name='name' value=name)
      //-       label.label
      //-         span Edit Price:
      //-         input#price(type='text' name='price' value=price)
      //-       label.label
      //-         span Edit Inventory:
      //-         input#inventory(type='number' name='inventory' value=inventory)
      //-       input.submit(type='submit' value='Submit')